.header {
    padding: 30px 0 0 0;

    &_zindex {
        z-index: 99;
    }

    &.header--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        width: 100%;
        z-index: 111;
        padding: 30px 0 30px 0;

        background:
            linear-gradient(to bottom, rgba($neon-purple, 0.15) 0%, transparent 100%),
            $body-background-complex;
        box-shadow: $admin-shadow;

        animation: slideDown 0.3s ease forwards;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {

    &_open {
        display: block;
    }
}

.header__burger {
    display: none;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__item {
    @include font($Inter-400);
    text-transform: uppercase;
    font-size: 22px;
    transition: color 0.4s ease;
    cursor: pointer;

    &:hover {
        color: $neon-purple;
    }
}

.header__callback {
    @include font($Inter-700);
    width: 280px;
    height: 55px;
    border: 3px solid $neon-purple;
    border-radius: 10px;
    background-color: transparent;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: $main-text-color;
    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover {
        background-color: $dark-purple;
        border: 3px solid $dark-purple;
        border-radius: 10px;
        color: $main-text-color;
    }

    &:focus {
        background-color: $dark-purple;
        border-radius: 10px;
        border: none;
        color: $main-text-color;
    }

    &:active {
        background-color: $cold-purple;
        border: 1px solid $black-color;
        border-radius: 10px;
        color: $main-text-color;
    }

    &_visible {
        display: block;
        position: absolute;
        top: calc(100% + 318px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    }
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main-background-color;
    opacity: 0.6;
    z-index: 1;
}

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    width: 30px;
    height: 25px;

    background: none;
    border: none;

    cursor: pointer;
    z-index: 1001;
}

.burger__line {
    width: 100%;
    height: 3px;

    background-color: $main-text-color;
    border-radius: 2px;

    &.behind {
        z-index: 900;
        pointer-events: none;
    }
}

.header__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    width: 70%;
    max-width: 300px;
    height: 100vh;
    padding: 20px;

    background:
        linear-gradient(to bottom, rgba($neon-purple, 0.15) 0%, transparent 100%),
        $body-background-complex;
    box-shadow: $admin-focus-shadow;
    overflow-y: auto;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.open {
        z-index: 1111;

        transform: translateX(0);
    }

    .header__navigation {

        .header__list {
            flex-direction: column;
        }
    }
}

.mobile-menu__close {
    font-size: 32px;
    color: $main-text-color;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1001;

    background: none;
    border: none;

    cursor: pointer;

    &:hover {
        color: $neon-purple;
    }
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1320px) {
    .header {
        padding: 30px 60px 0 60px;
    }

    .header__list {
        gap: 20px;
    }

    .header__item {
        font-size: 18px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 30px 40px 0 40px;
        position: relative;
    }

    .header__logo {
        width: 87px;
        height: 55px;
    }

    .header__navigation {
        display: none;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__item {
        @include font($Inter-700);
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .header__callback {
        width: 229px;
        height: 45px;
        font-size: 18px;
        line-height: 24px;
    }

    .header__burger {
        display: flex;
    }

    .header__mobile-menu {

        .header__navigation {
            display: flex;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 20px 20px 0 20px;
    }

    .header__logo {
        width: 66px;
        height: 42px;
    }

    .header__item {
        font-size: 14px;
    }

    .header__callback {
        width: 184px;
        height: 37px;
        font-size: 14px;
        line-height: 24px;
    }
}
