:root {
    --neon-purple: #CD06FF;
    --main-text-color: #FFFFFF;
    --dark-purple: #6C0287;
    --cold-purple: #640AA3;
    --black-color: #000000;
    --dark-violet: #440F51;
    --dark-grey: #1C1A1A;
    --beige-hover: #EADEED;
    --purple-button-hover: #840AA3;
    --main-background-color: #1B1A1B;
    --placeholder: #211E1E;
}

.contacts {
    --background-color: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer {
    --background-footer-color: #370A37;
}
