.about-us {
  padding: 100px 0 50px 0;
}

@media screen and (max-width: 1320px) {
  .about-us {
    padding: 70px 60px 45px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .about-us {
    padding: 30px 20px 15px 20px;
  }
}

@media screen and (max-width: 630px) {
  .about-us {
    padding: 30px 20px 15px 20px;
  }
}
