.booking {
  padding: 80px 0 80px 0;
  background-color: var(--dark-violet, #440F51);
}

@media screen and (max-width: 1320px) {
  .booking {
    padding: 80px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .booking {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 630px) {
  .booking {
    padding: 30px 20px;
  }
}
