.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  background-color: var(--main-text-color, #FFFFFF);
  color: var(--dark-grey, #1C1A1A);
  font-weight: 700;
  font-size: 24px;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.faq__item:nth-child(even) {
  background-color: var(--dark-violet, #440F51);
  color: var(--main-text-color, #FFFFFF);
}

.faq-list__svg_purple {
    color: transparent;
    transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s ease;
    border-radius: 50px;
}

.faq-list__svg_white {
    color: transparent;
    transition: background-color 0.4s ease, transform 0.4s ease, color 0.4s ease;
    border-radius: 50px;
}

.faq-list__path_purple {
    color: var(--dark-purple, #6C0287);
}

.faq-list__path_white {
    color: var(--main-text-color, #FFFFFF);
}

.faq-list_white:hover .faq-list__svg_white {
    background-color: var(--main-text-color, #FFFFFF);
    border-radius: 50px;
}

.faq-list_white:hover .faq-list__path_white {
    color: var(--dark-purple, #6C0287);
}

.faq-list_white:active .faq-list__svg_white {
    background-color: transparent;
}

.faq-list_white:active .faq-list__path_white {
    color: var(--main-text-color, #FFFFFF);
}

.faq-list_white:active .faq-list__path_white:first-child {
    /*transform: rotate(-90deg);*/
    /*transform-origin: center;*/
    transition: transform 0.6s ease, color 0.4s ease;
}

.faq-list_purple:hover .faq-list__svg_purple {
    background-color: var(--dark-purple, #6C0287);
    border-radius: 50px;
}

.faq-list_purple:hover .faq-list__path_purple {
    color: var(--main-text-color, #FFFFFF);
}

.faq-list_purple:active .faq-list__svg_purple {
    background-color: transparent;
}

.faq-list_purple:active .faq-list__path_purple {
    color: var(--dark-purple, #6C0287);
}

.faq-list_purple:active .faq-list__path_purple:first-child {
    /*transform: rotate(-90deg);*/
    /*transform-origin: center;*/
    transition: transform 0.6s ease, color 0.4s ease;
}

.faq-list__button {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0;
    font-weight: 700;
}

.faq-list__button_purple {
    color: var(--main-text-color, #FFFFFF);
}

.faq-list__wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-list__desc {
    font-size: 18px;
    font-weight: 500;
}

/*.faq-list__svg_white:hover {
  background-color: var(--main-text-color, #FFFFFF);
  border-radius: 50px;
}
.faq-list__svg_white:hover .faq-list__path_white {
  color: var(--dark-purple, #6C0287);
}

.faq-list__svg_white:active {
  background-color: transparent;
}

.faq-list__svg_white:active .faq-list__path_white {
  color: var(--main-text-color, #FFFFFF);
}

.faq-list__svg_white:active .faq-list__path_white:first-child {
  transform: rotate(-90deg);
  transform-origin: center;
  transition: transform 0.6s ease, color 0.4s ease;
}

.faq-list__svg_purple:hover {
  background-color: var(--dark-purple, #6C0287);
  border-radius: 50px;
}

.faq-list__svg_purple:hover .faq-list__path_purple {
  color: var(--main-text-color, #FFFFFF);
}

.faq-list__svg_purple:active {
  background-color: transparent;
}

.faq-list__svg_purple:active .faq-list__path_purple {
  color: var(--dark-purple, #6C0287);
}

.faq-list__svg_purple:active .faq-list__path_purple:first-child {
  transform: rotate(-90deg);
  transform-origin: center;
  transition: transform 0.6s ease, color 0.4s ease;
}*/

@media screen and (max-width: 1320px) {
    .faq-list:last-child {
        display: none;
    }

    .faq-list__svg_purple-adaptive {
        display: inline-block;
    }

    .faq-list__path_white {
        color: var(--dark-purple, #6C0287);
    }

    .faq-list_white:hover .faq-list__svg_white {
        background-color: var(--dark-purple, #6C0287);
        border-radius: 50px;
    }

    .faq-list_white:hover .faq-list__path_white {
        color: var(--main-text-color, #FFFFFF);
    }

    .faq-list_white:active .faq-list__path_white {
        color: var(--dark-purple, #6C0287);
    }

    .faq-list_white:active .faq-list__path_white {
        color: var(--dark-purple, #6C0287);
    }

    .faq-list_white:active .faq-list__svg_white {
        background-color: transparent;
    }

    .faq-list__button_purple {
        color: var(--dark-grey, #1C1A1A);
    }

    .faq-list__desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 630px) {
    .faq-list__svg {
        width: 30px;
        height: 30px;
    }

    .faq-list__desc {
        font-size: 12px;
    }
}


@media screen and (max-width: 1320px) {
  .faq__list {
    gap: 17px;
  }

  .faq__item {
    font-size: 20px;
    padding: 12px 20px 12px 30px;
  }

  .faq__item:nth-child(even) {
    background-color: var(--main-text-color, #FFFFFF);
    color: var(--dark-grey, #1C1A1A);
  }
}

@media screen and (max-width: 1023px) {
  .faq__item {
    padding: 12px 20px 12px 54px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 630px) {
  .faq__item {
    padding: 7px 13px 7px 10px;
    font-size: 12px;
    line-height: 16px;
  }
}
