@media screen and (max-width: 1320px) {
  .main-banner {
    padding: 30px 60px 40px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .main-banner {
    padding: 30px 40px 40px 40px;
  }

  .main-banner__text-wrap:after {
    background-size: 409px 479px;
    width: 409px;
    height: 479px;
    top: 57px;
    left: 283px;
  }
}

@media screen and (max-width: 767px) {
  .main-banner__text-wrap:after {
    background-size: cover;
    width: 292px;
    height: 330px;
    top: 56px;
    left: 278px;
  }
}

@media screen and (max-width: 630px) {
  .main-banner__text-wrap:after {
    background-size: cover;
    width: 161px;
    height: 179px;
    top: 23px;
    left: 119px;
  }

  .main-banner {
    padding: 20px 20px 30px 20px;
  }
}
