.halls {
  padding: 50px 0 100px 0;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.halls__item {
  background-size: cover;
  background-repeat: no-repeat;
  width: 580px;
  height: 349px;
}

@media screen and (max-width: 1320px) {
  .halls {
    padding: 35px 0 70px 0;
  }

  .halls__list {
    gap: 18px;
  }

  .halls__item {
    width: 443px;
    height: 267px;
  }
}

@media screen and (max-width: 1023px) {
  .halls__item {
    width: 335px;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .halls__item {
    width: 280px;
    height: 168px;
  }
}

@media screen and (max-width: 630px) {
  .halls {
    padding: 15px 20px 30px 20px;
  }
}
